.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: all 1s ease;
  
}

.gg {
  animation: identifier 1s ease-in-out alternate-reverse;
}

@keyframes identifier {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40vh);
    justify-content: start;
  }
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  min-height: 100vh;
  margin: 1rem;
}


.on-focus {
  justify-content: start;
}